#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#title {
    background-color: #8d8d8d;
    font-size: 16px;
    padding: 4px;
    text-align: center;
}

#display {
    font-size: 32px;
    padding: 24px;
    user-select: none;
}

#drum-machine {
    background: #efefef;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#drum-pads-row {
    display: flex;
    flex-direction: row;
}

.drum-pad {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    border: 8px solid black;
    background: grey;
    user-select: none;
}

.drum-pad:hover {
    background-color: lightgrey;
}

.drum-pad:active {
    background-color: #555;
}
