#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#title {
    background-color: #bcaaa4;
    font-size: 16px;
    padding: 4px;
    text-align: center;
}

#body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#editor-container {
    background-color: #efdcd5;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 8px 8px 8px;
    width: 50vh;
}

#preview-container {
    background-color: #8c7b75;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 8px 8px 8px;
    width: 50vh;
}

#editor {
    background-color: #ffffff55;
    flex-grow: 1;
}

#preview {
    background-color: #ffffff55;
    flex-grow: 1;
    word-wrap: break-word;
}